* {box-sizing: border-box; margin: 0; padding: 0; color: #101010}
body {font-family: 'Spoqa Han Sans Neo', 'sans-serif'; color: #000; font-size: 16px;}
ul, ol, li {list-style: none;}
a {text-decoration: none;}

/* common */
.container {max-width: 1280px; margin: 0 auto;}
.inline-flex {display: inline-flex;}
.justify-space-between {display: flex; justify-content: space-between;}
.justify-center {display: flex; justify-content: center;}
.align-center {display: flex; align-items: center;}
/*.active {color: #fff; transition: all 0.3s ease-in;}*/

.service-title {margin-bottom: 80px}
.service-title .h3-white {font-size: 36px; margin-bottom: 40px; color: #fff;}
.service-title .h3-black {font-size: 36px; margin-bottom: 40px;}
.service-title h3 span {color: #ff0a0a}
.service-title .p-black {font-size: 20px;}
.service-title .p-white {font-size: 20px; color: #fff;}
.white-box260 {background: #fff; border-radius: 10px; height: 260px; position: relative;}
.white-box274 {background: #fff; border-radius: 10px; height: 274px; position: relative;}
.white-box437 {background: #fff; border-radius: 10px; height: 437px; position: relative; width: calc(50% - 10px); margin-top: 20px; padding: 40px;}
.white-box260.black-chip::after {content: "고객사"; position: absolute; top:-11px; left:50%; transform: translate(-50%); background: #101010; color:#fff; font-size: 14px; text-align: center; border-radius: 10px; padding: 2px 24px;}
.white-box274.black-chip::after {content: "고객사"; position: absolute; top:-11px; left:50%; transform: translate(-50%); background: #101010; color:#fff; font-size: 14px; text-align: center; border-radius: 10px; padding: 2px 24px;}
.white-box260.red-chip::after {content: "우체국"; position: absolute; top:-11px; left:50%; transform: translate(-50%); background: #ff0a0a; color:#fff; font-size: 14px; text-align: center; border-radius: 10px; padding: 2px 24px;}
.white-box274.red-chip::after {content: "우체국"; position: absolute; top:-11px; left:50%; transform: translate(-50%); background: #ff0a0a; color:#fff; font-size: 14px; text-align: center; border-radius: 10px; padding: 2px 24px;}

/* header */
#header {position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 80px; border-bottom: 1px solid rgba(255,255,255,0.1);}
/*#header.scrolled {background: #fff;} 스크롤 시 nav 배경 색상 변경*/
#header .logo {display: flex; align-items: center; display: block;}
#header .logo a {cursor: pointer; display: block;}
#header .logo img {margin-top: 10px;}

.nav {height: 80px; line-height: 80px;}
.nav .gnb {display: flex; align-items: center; overflow: hidden;}
.nav .gnb li {margin-left: 48px;}
.nav .gnb a {display: block; font-size: 14px; font-weight: bold; color: rgba(255, 255, 255, 0.5);}
/*#header.scrolled .nav .gnb a {color : #101010;} 스크롤 시 nav 폰트 색상 변경 */
.nav .gnb a:hover {color: #fff; transition: all 0.3s ease-in;}

/* main */
.main-slide {text-align: center; background: url(../img/img-hero.png)no-repeat center/cover; width: 100%; height: 100vh;}
/* 홈페이지 접속 시 히어로 이미지 상 -> 하 생성 */
.main-slide .title-group {padding-top: 94px;}
.main-slide .title-group h2 {font-size: 90px; margin-bottom: 20px; color: #ff0a0a; font-weight: bold;}
.main-slide .title-group p {font-size: 30px; font-weight: bold; color: #fff;}
.main-slide .title-group span {color: #ff0a0a;}
.main-slide .stick-bar {width: 2px; height: 40px; background: #fff; display: inline-block; margin: 60px 0;}
.main-slide .text-group {margin-bottom: 40px;}
.main-slide .text-group .bg-color-text {display: inline-block;  font-size: 19px; font-weight: bold; color: #fff; margin-bottom: 15px; position: relative; z-index: 1;}
.main-slide .text-group .bg-color-text::before {content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #101010; width: 115%; height: 32px; z-index: -1;}
.main-slide .text-group p {font-size: 16px; color: #fff; font-weight: normal; line-height: 1.5;}
.main-slide .electronic-group {}
.main-slide .electronic-group .box-wrap {background: rgba(255,255,255,0.05); border-radius: 10px;  border: 1px solid #fff; padding: 28px 20px; width: 304px; height: 160px;}
.main-slide .electronic-group .box-wrap:not(:last-child) {margin-right: 60px;}
.main-slide .box-wrap .title {font-size: 26px; font-weight: bold; color: #fff; margin-bottom: 24px;}
.main-slide .box-wrap .text {font-size: 16px; font-weight: normal; color: #fff;}

/* 우체국 전자 우편 서비스 */
.post-slide {text-align: center; background: #fafafa; padding: 88px 0;}
.post-slide .wrap-client {width: 25%; justify-content: center}
.post-slide .wrap-post-office {width: calc(75% - 22px);}
.post-slide .wrap-post-office .wrap-service {width: 33.3%}
.post-slide .wrap-service img {margin: 54px 0 24px 0;}
.post-slide .wrap-service h4 {margin-bottom: 16px;}

/* 전저문서 서비스 */
.service-slide {background: #444; text-align: center; padding: 88px 0;}
.service-slide .wrap-client {width: 25%; justify-content: center}
.service-slide .wrap-post-office {width: calc(75% - 22px);}
.service-slide .wrap-post-office .wrap-service {width: 33.3%}
.service-slide .wrap-service img {margin: 54px 0 16px 0;}
.service-slide .wrap-service h4 {font-size: 20px; margin-bottom: 16px;}
.service-slide .wrap-service p {color:#444; font-size: 16px; margin-bottom: 10px;}
.service-slide .wrap-service span {background: #f2f2f2; border-radius: 10px; font-size: 16px; margin-bottom: 10px; padding: 2px 24px}
.service-slide .doc-certificate h4 {font-weight: 500; font-size: 16px; color: #101010; margin: 16px 0 8px 0}
.service-slide .doc-certificate p {color: #444;}

/* QUPID PROCESS */
.process-slide {text-align: center; background: #fafafa; padding: 88px 0 8px 0;}
.process-slide .slide-side-grid {flex-basis: 170px; position: relative;}
.process-slide .slide-side-grid .customer-circle {position: absolute; top: 25%; width:170px; height:170px; background-color: #101010; box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.25); color: #fff; border-radius: 50%; font-weight: bold; font-size: 20px; padding: 72px 0;}
.process-slide .slide-side-grid-line {flex-basis: 86px; position: relative;}
.process-slide .slide-side-grid-line .curve-line-img {position: absolute; top: 15%;}
.process-slide .slide-side-grid-line img {padding: 4px;}
.process-slide .service-process {flex-grow: 1; display: flex; flex-direction: column; height: 500px;}
.process-slide .service-process .service-process-block {flex-basis: 50%; display: flex; position: relative; z-index: 1; }
.process-slide .service-process .service-process-block .service-process-circle {height: 170px; width: 170px; background: #ff0a0a; border-radius: 50%; font-size: 20px; color: #fff; font-weight: bold; padding: 72px 0; margin: 0 20px; position: relative}
.process-slide .service-process .service-process-block .service-process-circle::after {content: ""; height: 170px; width: 190px; top: 0%; right: -95px; background: #e7e7e7; position: absolute; z-index: -1;}
.process-slide .service-process .service-process-block .service-process-first-step {height: 170px; width: 170px; background: #e7e7e7; border-radius: 30%; margin-right: 20px;}
.process-slide .service-process .service-process-block .service-process-first-step .step {font-size: 14px; font-weight: bold; padding: 32px 0 24px 0; color: #fff; z-index: 1; position: relative; z-index: 1;}
.process-slide .service-process .service-process-block .service-process-first-step .step-desc {font-size: 18px; font-weight: bold; color: #101010; position: relative; z-index: 1;}
.process-slide .service-process .service-process-block .service-process-first-step .step:after {content: ""; height: 170px; width: 170px; background: #e7e7e7; border-radius: 50%; top: 0%; right: -40px; position: absolute; z-index: -1}
.process-slide .service-process .service-process-block .service-process-second-step {height: 170px; width: 170px; background: #fff; margin-right: 20px; position: relative;}
.process-slide .service-process .service-process-block .service-process-second-step .step {font-size: 14px; font-weight: bold; padding: 32px 0 24px 0; color: #e7e7e7; z-index: 1}
.process-slide .service-process .service-process-block .service-process-second-step .step-desc {font-size: 18px; font-weight: bold; color: #101010; position: relative; z-index: 1;}
.process-slide .service-process .service-process-block .service-process-second-step::before {content: ""; height: 170px; width: 170px; top: 0%; left: -50%; position: absolute; background: #fff; z-index: -1;}
.process-slide .service-process .service-process-block .service-process-step {height: 170px; width: 170px; background: #fff; margin-right: 20px; position: relative;}
.process-slide .service-process .service-process-block .service-process-step::before {content: ""; height: 170px; width: 170px; top: 0%; left: -50%; position: absolute; background: #fff; z-index: -1;}
.process-slide .service-process .service-process-block .service-process-step::after {content: "------"; height: 170px; width: 170px; top: 0%; left: -50%; position: absolute; padding-top: 30px; color: #e7e7e7}
.process-slide .service-process .service-process-block .service-process-step .step {font-size: 14px; font-weight: bold; padding: 32px 0 24px 0; color: #e7e7e7; z-index: 1;}
.process-slide .service-process .service-process-block .service-process-step .step-desc {font-size: 18px; font-weight: bold; color: #101010; }
.half-circle {height: 170px; width: 170px; border-radius: 50%; background: #fff; left: 86%; position: absolute; z-index: -1;}





/* QUPID 기대효과 */
.benefit-slide{text-align: center; background: black; padding: 88px 0;}

/* QUPID 주요활용사례 */
.key-use-cases-slide {text-align: center; background: #fff; padding: 88px 0;}

/* QUPID 주요 고객사 */
.customer-slide {text-align: center; background: #fafafa; padding: 88px 0;}

/* Footer */
#footer {background: #444; padding: 40px 0 80px 0;}
#footer p {margin-left: 50px; color: #bdbdbd; font-size: 12px}
